<button
  class="btn text-info border border-info py-1 px-2"
  [class.isFavorited]="isFavorited == true"
  [class.isNotFavorited]="isFavorited == false"
>
  <span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-heart-fill text-light"
      [class.text-info]="isFavorited == false"
      [class.text-light]="isFavorited == true"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
      />
    </svg>
  </span>
  <span (click)="addFavoriteArticle()" *ngIf="slugArticle.favorited == false">
    Favorite Article
  </span>
  <span (click)="removeFavorite()" *ngIf="slugArticle.favorited == true">
    Unfavorite
  </span>
</button>
