<div class="row h-100 p-0 m-0">
  <div
    class="col-12 border d-flex align-items-center justify-content-center text-danger w-100 text-center p-1"
  >
    Report
  </div>
  <div
    class="col-12 border d-flex align-items-center justify-content-center text-danger w-100 text-center p-1"
  >
    Follow
  </div>
  <div
    class="col-12 border d-flex align-items-center justify-content-center w-100 text-center p-1"
  >
    Go To Article
  </div>
  <div
    class="col-12 border d-flex align-items-center justify-content-center w-100 text-center p-1"
    (click)="closeDialog()"
  >
    Cancel
  </div>
</div>
