.myProfile-container {
  border: 2px solid black;
}
.img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}
a {
  cursor: pointer;
}

.topic {
  border: 1px dotted #f6546a;
  height: 25vh;
  max-height: 25vh;
}
