<div class="container bg-light shadow border text-dark py-3 my-4 w-50">
  <div class="formSetting">
    <form [formGroup]="articleForm">
      <div class="form-group">
        <h3 class="text-center">Let's talk</h3>
        <input
          type="text"
          class="form-control"
          placeholder="Topic of your aticle"
          formControlName="description"
          (blur)="log()"
        />
        <div
          class="text-danger"
          *ngIf="get('description').touched && get('description').invalid"
        >
          <small *ngIf="get('description').errors.required">
            Description is required</small
          >

          <small *ngIf="get('description').errors.minlength">
            Description is at least 3 characters
          </small>
        </div>
      </div>

      <div class="form-group">
        <h3 class="text-center">What are you thinking?</h3>
        <input
          type="text"
          class="form-control py-4"
          placeholder="Article title"
          formControlName="title"
        />
        <div
          class="text-danger"
          *ngIf="get('title').touched && get('title').invalid"
        >
          <small *ngIf="get('title').errors.required"> Title is required</small>

          <small *ngIf="get('title').errors.minlength">
            Title is at least 3 characters
          </small>
        </div>
      </div>

      <div class="form-group">
        <textarea
          placeholder="Article body"
          class="form-control p-3"
          rows="3"
          formControlName="body"
        ></textarea>
        <div
          class="text-danger"
          *ngIf="get('body').touched && get('body').invalid"
        >
          <small *ngIf="get('title').errors.required"> Body is required</small>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group w-100 border">
          <input
            type="text"
            class="py-2 form-control tagInput"
            placeholder="Enter tag"
            formControlName="tagList"
            #tagInput
            (keyup.enter)="addTagbyEnter(tagInput.value, $event)"
          />
          <div class="input-group-append col-1 px-0">
            <button
              type="button"
              class="btn btn-info"
              (click)="addTag(tagInput.value, $event)"
            >
              Add
            </button>
          </div>
        </div>
      </div>
      <!-- ------------LIST OF TAG-------------- -->
      <div class="d-flex align-items-baseline px-0">
        <span
          class="d-flex align-items-center justify-content-between badge badge-info badge-pill px-1 mx-1"
          *ngFor="let tag of tagList"
        >
          <span>#{{ tag }}</span>
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="14"
              height="14"
              (click)="deleteTag(tag)"
              fill="currentColor"
              class="bi bi-x"
              viewBox="0 0 16 16"
            >
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
              />
            </svg>
          </span>
        </span>
      </div>
      <!-- ----------BUTTON BOX------------>
      <div class="form-group d-flex justify-content-end mt-4">
        <div>
          <button class="btn cancelBtn" (click)="cancel($event)">Cancel</button>
        </div>
        <button
          *ngIf="editMode == false"
          (click)="creatArticle($event)"
          class="btn btn-info editBtn"
          [disabled]="!articleForm.valid"
          [class.disabled]="!articleForm.valid"
        >
          Create
        </button>
        <button
          *ngIf="editMode == true"
          (click)="editArticle($event)"
          class="btn btn-info editBtn"
          [disabled]="!articleForm.valid"
          [class.disabled]="!articleForm.valid"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</div>
