.disabled {
  background-color: grey !important;
  color: lightgray;
  border: grey;
}

.tagInput {
  outline: none;
  border: none;
}

.cancelBtn {
  background-color: transparent;
  border: 0px;
  border-radius: 500px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 1em 1.5em;
}

.editBtn {
  border-radius: 100px;
  min-height: 48px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 1em 1.5em;
  cursor: pointer;
}
