input:disabled {
  background: rgb(167, 157, 157);
  color: lightgray;
}
input:disabled::placeholder {
  color: lightgray;
}
input:disabled {
  background: rgb(167, 157, 157);
  color: lightgray;
}
input:disabled::placeholder {
  color: lightgray;
}

.formSetting {
  font-weight: 700;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.disabled {
  background-color: grey;
  color: white;
  border: grey;
}

.cancelBtn {
  background-color: transparent;
  border: 0px;
  border-radius: 500px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 1em 1.5em;
}

.editBtn {
  border-radius: 100px;
  min-height: 48px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 1em 1.5em;
  cursor: pointer;
}
