<div class="bg-light">
  <div class="header">
    <div class="container-fluid">
      <div
        class="row justify-content-center mx-auto text-light flex-wrap text-center py-5"
      >
        <h1 class="col-sm-12">ABOUT US</h1>
        <br />
        <h2 class="col-sm-12">TEAM 2 - PAD</h2>
      </div>
    </div>
  </div>

  <!-- BODY CỦA LANDING PAGE -->

  <div class="content">
    <div class="feedback">
      <div class="container-fluid feedback_box">
        <div class="row w-75 flex-wrap text-center mx-auto">
          <!-- HANG 1 -->
          <div
            class="d-flex justify-content-center align-items-center flex-wrap py-5"
          >
            <div class="col-md-6 col-sm-12 px-4 feedback0">
              <h3 style="font-weight: 700">ThanhHV13</h3>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </div>

            <div class="col-md-6 col-sm-12 feedback1">
              <img
                class="rounded-circle"
                style="width: 250px; height: 250px"
                src="https://scontent.fhan15-1.fna.fbcdn.net/v/t39.30808-6/276059546_3085845111668086_6159028166856558292_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=tX2mSH7112cAX-LB64d&_nc_ht=scontent.fhan15-1.fna&oh=00_AT8toNPQ59t0e_OazuxqqlsLKYWz0-X7Tj-X7LK3EYKYeg&oe=62BED423"
                alt="image"
              />
            </div>
          </div>
          <!-- -------------------- -->
        </div>
      </div>
    </div>
  </div>

  <!-- FOOTER -->

  <div class="footer">
    <div class="cointainer-fluid bg-dark">
      <div class="row justify-content-center">
        <div class="col-sm-6 text-light text-center pt-3">
          Copy Right Your Websites 2020
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
