.body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.header {
  background-image: url(images/bg.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
