<div>
  <div class="d-flex mb-3 justify-content-between align-items-baseline">
    <h4 class="full-width">Are you sure?</h4>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="23"
      height="23"
      fill="currentColor"
      class="bi bi-x"
      (click)="closeDialog()"
      viewBox="0 0 16 16"
    >
      <path
        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
      />
    </svg>
  </div>
  <button
    mat-raised-button
    id="yes-button"
    class="bg-info mx-1 text-light"
    [mat-dialog-close]="true"
  >
    YES
  </button>

  <button
    mat-raised-button
    id="no-button"
    class="bg-danger mx-1 text-light"
    [mat-dialog-close]="false"
  >
    NO
  </button>
</div>
