<ul class="pagination shadow my-4" style="z-index: 99" *ngIf="totalItems > 0">
  <li
    class="page-item"
    [class.disabled]="disablePreviousButton()"
    (click)="previous()"
  >
    <span class="page-link">Previous</span>
  </li>
  <li
    class="page-item"
    *ngFor="let page of pages"
    [class.active]="page === selectedPage"
  >
    <span *ngIf="page != '...'" (click)="goToPage(page)" class="page-link">{{
      page + 1
    }}</span>
    <span *ngIf="page == '...'" class="page-link" [class.disabled]="true">{{
      page
    }}</span>
  </li>
  <li class="page-item" [class.disabled]="disableNextButton()" (click)="next()">
    <span class="page-link">Next</span>
  </li>
</ul>
