.nav-link {
  font-size: medium;
}
div {
  z-index: 99;
}

.active-tab {
  color: #5ba7be !important;
  border: 1px solid #5ba7be;
  border-bottom: none;
}

.new-post {
  border: none;
  outline: none;
}
